SECRET_KEY=секретный ключ

DEDUG=True/False

POSTGRES_DB=Названеи базы данных
POSTGRES_USER=имя пользователя базы данных
POSTGRES_PASSWORD=пароль для пользователя базы данных
PORT=порт для работы с базой данных
HOST=хост

STRIPE_API_KEY=ключ stripe

EMAIL_HOST=хост
EMAIL_PORT=порт
EMAIL_HOST_USER=email
EMAIL_HOST_PASSWORD=пароль из приложения

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0